
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

:root {
    font-size: 62.5%;
}

body {
    background-color: #FFFBFE;
}

#nav {
    background-color: #FFFBFE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 1.6rem 0;
}

#nav a {
    text-decoration: none;
    color: #565254;
    margin: 0 1.3rem;
    transition: color 0.3s;
}

#nav a:hover {
    color: #D0CFCF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
  }

#logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: #565254;
    background-image: url("/pics/drzwi_pics/biale_drzwi_otwarte.jpg");
    background-size: auto;
    background-position: center;
    /*border-radius: 1.6rem;*/
    text-align: center;
    padding: 15rem 2rem 15rem 2rem;
}

#flex-grid {
    display: flex;
    margin-top: 17rem;
    margin-bottom: 17rem;
    height: 10rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#flex-grid div {
    margin: 0 1rem;
}

#flex-grid img {
    max-height: 40rem;
    width: auto;
}

#footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: right;
}

#footer-contact a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-left: 1.6rem;
}

#footer-contact i {
    margin-right: 0.5rem;
}

#footer-contact p {
    text-align: left;
    font-size: 1.1rem;
    margin-top: 1.6rem;
}