.header-contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}

nav {
    background-color: white;
}

.nav-bar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    transition: color 0.3s;
}

.nav-bar a:hover {
    color: darkgray;
}

.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: white;
    background-image: url(/pics/biale_drzwi_otwarte.jpg);
    background-size: cover; /* Use 'cover' to make sure the image covers the entire div */
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 150px 20px; /* Adjust padding for a smaller logo */
}

.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: white;
    background-image: url(/pics/biale_drzwi_otwarte.jpg);
    background-size: cauto;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 350px 20px 350px 20px;
}